[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
pycryptodome = "*"
appdirs = "*"
requests = "*"
colorama = "*"
termcolor = "*"

[requires]
python_version = "3.7^"
